<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.PdsMapper">

<select id="getList" resultType="org.zerock.domain.PdsVO">
	<![CDATA[
		select * from tbl_gittestpds where bno < 100
	]]>
</select>

	<sql id="criteria">
		<if test="type != null">
			<if test="type == 't'.toString()">TITLE LIKE '%' || #{keyword} || '%' AND</if>
			<if test="type == 'c'.toString()">CONTENT LIKE '%' || #{keyword} || '%' AND</if>
			<if test="type == 'w'.toString()">WRITER LIKE '%' || #{keyword} || '%' AND</if>
			<if test="type == 'tc'.toString()">(TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%') AND</if>
		</if>
	</sql>


<select id="getListWithPaging" resultType="org.zerock.domain.PdsVO">
	<![CDATA[
		select bno, title, content, writer, regdate
   			 from (select/*+ index_desc(tbl_gittestpds pk_gittestpds) */ 
     		   rownum rn, bno, title, content, writer, regdate
      		  from tbl_gittestpds where
    ]]>

   <include refid="criteria"></include>
    
    <![CDATA[
      		   rownum <= #{pageNum} * #{amount}) 
   		 where rn > (#{pageNum}-1)*#{amount}
	]]>
</select>
<select id="listCount" resultType="int">
	select count(*) from tbl_gittestpds where
	
	<include refid="criteria"></include>
	
	bno>0
</select>

<insert id="insert">
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
		select seq_tbl_gittestpds_bno.nextval from dual
	</selectKey>
	
	insert into tbl_gittestpds (bno, userid, title, content, writer, filename)
			values(#{bno}, #{userid,jdbcType=VARCHAR}, #{title}, #{content}, #{writer,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR})
	
</insert>

<select id="getView" resultType="org.zerock.domain.PdsVO">
	select * from tbl_gittestpds where bno = #{bno}
</select>

<delete id="delete">
	delete from tbl_gittestpds where bno = #{bno}
</delete>
</mapper>